<div class="comment-delete">
    <h3>Comments:</h3>

    {{#each comments as |comment|}}
    <div class="row mb-4">
        <h2>
            <a href="/comment/{{comment.id}}">{{comment.comment}}</a>
        </h2>
    </div>
    <button class="btn btn-primary" data-id="{{comment.id}}">Submit Comment</button>
</div>